In [7]:
import pandas as pd
df = pd.read_csv('employees.csv')

In [9]:
df.head()

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,198,Donald,OConnell,DOCONNEL,650.507.9833,21-JUN-07,SH_CLERK,2600,-,124,50
1,199,Douglas,Grant,DGRANT,650.507.9844,13-JAN-08,SH_CLERK,2600,-,124,50
2,200,Jennifer,Whalen,JWHALEN,515.123.4444,17-SEP-03,AD_ASST,4400,-,101,10
3,201,Michael,Hartstein,MHARTSTE,515.123.5555,17-FEB-04,MK_MAN,13000,-,100,20
4,202,Pat,Fay,PFAY,603.123.6666,17-AUG-05,MK_REP,6000,-,201,20

In [10]:
df.shape

(50, 11)

In [11]:
import sqlite3
import csv

# Create SQLite database and table
def create_database():
    conn = sqlite3.connect('users.db')
    cursor = conn.cursor()
    cursor.execute('''CREATE TABLE IF NOT EXISTS users (
                        EMPLOYEE_ID INTEGER PRIMARY KEY,
                        FIRST_NAME TEXT,
                        LAST_NAME TEXT,
                        PHONE_NUMBER INTEGER,
                        EMAIL TEXT
                    )''')
    conn.commit()
    conn.close()

    
# Insert data from CSV into SQLite database
def insert_data_from_csv(csv_file):
    conn = sqlite3.connect('users.db')
    cursor = conn.cursor()

    with open(csv_file, 'r') as file:
        csv_reader = csv.DictReader(file)
        for row in csv_reader:
            cursor.execute('''INSERT INTO users (FIRST_NAME, LAST_NAME, PHONE_NUMBER, EMAIL) 
                              VALUES (?, ?, ?, ?)''', (row['FIRST_NAME'],row['LAST_NAME'], row['PHONE_NUMBER'], row['EMAIL']))
    conn.commit()
    conn.close()

# Main function
def main():
    create_database()
    csv_file = 'employees.csv'
    insert_data_from_csv(csv_file)
    print("Data inserted successfully.")

    
if __name__ == "__main__":
    main()

Data inserted successfully.